<section id="specs-sect">
    <section class="titleblock">
  
        <div class="title"  data-aos="zoom-out-up" data-aos-duration="1000">
          <h1>Get in touch..!</h1>
        </div>
    </section>
  
    
   <section id="divs">
     <div class="row">
      <div id="left">
          <form>
              <div class="form-group"data-aos="fade-right" data-aos-duration="1000">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" id="fname" placeholder="First Name">
                
              </div>
              <div class="form-group"data-aos="fade-right" data-aos-duration="2000">
                <label for="email">email ID</label>
                <input type="email" class="form-control" id="email" placeholder="email">
              </div>
              <div class="form-group"data-aos="fade-right" data-aos-duration="3000">
                  <label for="comment">Let us know:</label>
                  <textarea type="email" class="form-control" id="comment" placeholder="your queries.."></textarea>
              </div>
              <button type="button" class="btn btn-primary" style="padding: 10px 20px;">Go..!</button>
              
            </form>
            
        
      </div>
    
      <div id="right">
          <img data-aos="zoom-out-left"data-aos-duration="4s000" src="https://www.notebookcheck.net/fileadmin/_processed_/3/0/csm_Intro_galaxy_note8_camera_scroll_6c4f86e8ac.jpg">
      </div>

      </div>

   </section>
    
</section>
