<section id="access-sect">
  <section class="titleblock">

    <div class="title" data-aos="zoom-out-up" data-aos-duration="1000">
      <h1>Accessories</h1>
    </div>
  </section>

  <section id="cards-sect">

    <div class="row">

  <!--Card 1-->
     <div class="card" data-aos="zoom-out-right" data-aos-duration="3000">
       <img class="card-img-top" style="min-height:50%;max-height:50%;" src="https://cdn2.expertreviews.co.uk/sites/expertreviews/files/2016/03/dsc05630.jpg">

       <div class="card-body" style="max-height:50%;">
         <h2 class="card-title">{{acc1}}</h2>
         <p class="card-text">{{ description1}}</p>
         
       </div>
       <a target="_blank" href="https://www.amazon.in/Samsung-Bluetooth-Wireless-Headphones-Microphone/dp/B013WP40H8" class="btn btn-primary">Grab Now..!</a>
     </div>


  
  
     
  <!--Card 2-->
  
     <div class="card" data-aos="zoom-out-up" data-aos-duration="3000">
        <img class="card-img-top" style="min-height:50%;max-height:50%;" src="https://image-us.samsung.com/SamsungUS/FFMigration/galaxy-note8-acc_wireless_c2_s.jpg?$default-jpg$">

        <div class="card-body" style="max-height:50%;">
          <h2 class="card-title">{{acc2}}</h2>
          <p class="card-text">{{ description2}}</p>
         
        </div>
        <a target="_blank" href="https://www.amazon.in/Samsung-EP-PG950BBEGIN-Wireless-Charger-Convertible/dp/B072LD8VKM" class="btn btn-primary">Grab Now..!</a>
      </div>


  <!--Card 3-->
      <div class="card" data-aos="zoom-out-left" data-aos-duration="3000">
        <img class="card-img-top" style="min-height:50%;" src="https://static-news.moneycontrol.com/static-mcnews/2017/08/samsung-galaxy-note-8-gear-vr-770x433.jpg">

        <div class="card-body" style="max-height:50%;">
          <h2 class="card-title">{{acc3}}</h2>
          <p class="card-text">{{ description3}}</p>
          
        </div>
        <a target="_blank" href="https://www.amazon.in/Samsung-Gear-VR-Controller-Version/dp/B074GB37V8" class="btn btn-primary">Grab Now..!</a>
      </div>
    
    </div>



  </section>
</section>